<section class="products">
    <h4 class="popular-title font-bold">{{'Popular Items' | titlecase}}</h4>
    <!-- <div *ngIf="loader.loading() ">
        <div class="loader-container">
            <app-product-skeleton *ngFor="let loader of loaderCardsarr"></app-product-skeleton>
        </div>
    </div> -->
    <div class="grid align-items-stretch justify-content-between">
        <app-product-card *ngFor="let product of products" [product]="product" class="col-12 md:col-6 lg:col-3 h-full">
        </app-product-card>
    </div>
</section>