<div class="card-container lg:m-2">
    <div class="relative card border-0">
        <img [src]="data.image" alt="gifts"
            class="w-full h-23rem md:h-25rem lg:h-30rem border-round-3xl object-cover" />

        <div class="overlay-content absolute top-0 left-0 h-full flex flex-column  p-4 text-line w-full sm:w-8 md:w-6 lg:w-7"
            [ngClass]="data.justifyContent ? 'justify-content-end' : 'justify-content-center'
">

            <h3 class="pink-1 text-xl md:text-2xl lg:text-3xl font-bold m-1">
                {{ data.title | uppercase }}
            </h3>

            <h4 class="font-semibold text-sm md:text-xl lg:text-5xl line-height-2 m-0" *ngIf="data.subTitle">
                {{ data.subTitle.first}} <br> <span class="pink-1">{{data.subTitle.second}}</span>
                {{data.subTitle.third}}
            </h4>

            <p class="text-sm md:text-base">
                {{ data.text }}
            </p>

            <app-basic-button [btnValue]="'Shop Now'"></app-basic-button>
        </div>
    </div>
</div>