<div class="card relative">
    <p-carousel [value]="data" [responsiveOptions]="responsiveOptions" [showNavigators]="false" #carouselRef>
        <ng-template let-item pTemplate=" item">
            <ng-container *ngTemplateOutlet="customTemplate; context: {$implicit: item}"></ng-container>
        </ng-template>
    </p-carousel>

    <div class="btn-container absolute bottom-0 right-0 flex gap-2 pb-5 pr-5 lg:pb-6 lg:pr-8">
        <button (click)="goPrev()" pButton
            class="my-prev bg-white text-lg py-1 px-2 border-0 text-gray-500 rounded-full cursor-pointer border-circle">‹
        </button>
        <button (click)="goNext()" pButton
            class="my-next bg-white text-lg py-1 px-2 border-0 text-gray-500 rounded-full cursor-pointer border-circle">›
        </button>
    </div>
</div>