footer {
    background-image: url("../../../../../public/assets/bg-pic-2.png");
    margin: 0 !important;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 80px;

    @media (max-width:480px) {
        gap: 16px;
        padding: 16px;
    }
}

footer .links {
    gap: 80px;
    padding-right: 80px;
    padding-left: 80px;
    overflow-x: auto;

    @media (max-width:480px) {
        gap: 16px;
        padding-right: 16px;
        padding-left: 16px;
    }
}

footer .text-content {
    gap: 8px;
    // text-wrap: none;
}

footer .text-content h5 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: capitalize;

    @media (max-width:480px) {
        font-size: 20px;
    }
}

footer .text-content p {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: capitalize;

    @media (max-width:480px) {
        font-size: 16px;
    }
}

:host ::ng-deep .p-inputgroup {
    border-radius: 10px;
    margin: 0 auto;
    width: auto;
    position: relative;

    @media (max-width:480px) {
        width: 100%;
    }
}

:host ::ng-deep .p-inputgroup input {
    width: 27vw;
    border: none;
    padding: 16px;
    border-radius: 30px 0 0 30px;

    @media (max-width:480px) {
        width: 90%;
        border-radius: 10px 0 0 10px;

    }

}

:host ::ng-deep .p-inputgroup .p-button {
    position: absolute;
    top: 0;
    right: -20px;
    height: 48px;
    gap: 5;
    border-radius: 30px !important;
    padding: 8px 20px;
    background-color: #F82BA9;
    box-shadow: 0px 0px 40px 5px rgba(0, 0, 0, 0.05);
    border-color: #F82BA9;

    @media (max-width:480px) {
        right: 0;
        border-radius: 10px !important;

    }
}

:host ::ng-deep .p-inputgroup .p-button:hover {
    background-color: #f82ba9a7;
    border-color: #f82ba9a7;
}