<div class="flex items-center justify-center p-2">
    <p-card [style]="{ overflow: 'hidden'}" styleClass="w-full shadow-none border-none">

        <ng-template #header>
            <div class="card bg-pink-10 border-round-2xl relative hover-container">
                <img [src]="product.image" [alt]="product.title"
                    class="w-full h-18rem p-3 object-cover border-round-top-2xl" />

                <div class="hover-buttons flex gap-2">
                    <button pButton
                        class="bg-pink-1 text-white border-none border-circle w-3rem h-3rem flex align-items-center justify-content-center shadow-3">
                        <i class="pi pi-eye"></i>
                    </button>
                    <button pButton
                        class="bg-pink-1 text-white border-none border-circle w-3rem h-3rem flex align-items-center justify-content-center shadow-3">
                        <i class="pi pi-heart"></i>
                    </button>
                </div>
            </div>
        </ng-template>




        <ng-template #title> {{product.title}} </ng-template>
        <div class="flex justify-content-between align-content-center align-items-center">
            <div class="flex flex-column gap-1">
                <app-rating [rating]="product.rating.rate" class="text-yellow-400"></app-rating>
                <p class="carnation font-bold">{{product.price |currency}}</p>
            </div>
            <button pButton class="bg-purple-1 border-none cursor-pointer border-circle w-3rem h-3rem p-3
                     text-white font-semibold text-sm md:text-base">
                <i class="pi pi-shopping-bag "></i>
            </button>
        </div>
    </p-card>
</div>