<section class="about flex flex-column lg:flex-row justify-content-between align-items-center md:align-items-stretch">
    <div class="img-container">

        <div>
            <div class="first">
                <img src="assets/about-1.png" alt="about-1" class="object-cover" />
            </div>
        </div>

        <div>
            <div class="second">
                <img src="assets/about-2.png" alt="about-2" class=" border-circle object-cover" />
            </div>
            <div class="third">
                <img src="assets/about-3.png" alt="about-3" class="object-cover" />
            </div>
        </div>

    </div>

    <div class="text-content flex flex-column justify-content-start align-items-start">
        <h5 class="font-bold pink-1">{{'About Us' |uppercase}}</h5>
        <h4 class="font-bold">
            We Provide Best And Quality <span class="pink-1">Gifts</span> <br> <span class="pink-1">Box</span> Product
            For You
        </h4>
        <p class="blue-5">Recusandae tempora aut laborum molestias veniam. A commodi sequi accusantium
            <br> ullam cupiditate.
            Neque quidem qui et autem dolor dicta necessitatibus ut ad.
        </p>

        <app-basic-button [btnValue]="'Discover More'"></app-basic-button>

        <div class="grid text-vector">
            <div class="col-12 lg:col-6 flex align-items-center justify-content-start" *ngFor="let item of list">
                <p-avatar icon="pi pi-check" class="bg-purple-1 text-white" size="large" shape="circle" />
                <p class="blue-4">{{item}}</p>

            </div>
        </div>

    </div>
</section>