<div class="review-card bg-white">
    <div class="header flex align-items-center justify-content-between border-bottom-1">
        <p-avatar [image]="review.avatar" size="large" shape="circle">
        </p-avatar>
        <div class="flex flex-column">
            <h4 class="">{{ review.name }}</h4>
            <p class="pink-1">{{ review.role }}</p>
        </div>
    </div>
    <p class="blue-5">
        {{ review.review }}
    </p>
    <div class="footer flex justify-content-between align-items-center">
        <app-rating [rating]="review.rate" class="pink-1"></app-rating>
        <p-avatar image="assets/comment-icon.png" size="xlarge" shape="circle" />

    </div>
</div>