<div class="home">
    <div>
        <app-categories-section></app-categories-section>
        <app-gifts-section></app-gifts-section>
    </div>
    <app-features-section></app-features-section>
    <app-best-seller-section [products]="products"></app-best-seller-section>
    <app-products-section [products]="products"></app-products-section>
    <app-about-section></app-about-section>
    <app-gallary-section></app-gallary-section>
    <app-reviews-section></app-reviews-section>
    <app-companies-section></app-companies-section>
    <app-product-skeleton></app-product-skeleton>
</div>