<section class="m-3 flex flex-column justify-content-between align-content-center align-items-center">

    <h4 class="pink-1">{{'Our Gallery'|uppercase}}</h4>
    <h4 class="popular-title text-2xl relative inline-block">Let's Check Our Photo Gallery</h4>

    <div class="grid justify-content-between">
        <div class="col-12 lg:col-4 h-22rem">
            <img src="assets/gallary-1.png" alt="gallary-1" class="border-round-2xl w-full h-full">

        </div>
        <div class="col-12 lg:col-4 h-22rem">
            <img src="assets/gallary-2.png" alt="gallary-2" class="border-round-2xl w-full h-full">

        </div>
        <div class="col-12 lg:col-4 h-22rem">
            <img src="assets/gallary-3.jpg" alt="gallary-3" class="border-round-2xl w-full h-full">

        </div>
        <div class="col-12 lg:col-8 h-22rem">
            <img src="assets/gallary-4.png" alt="gallary-4" class="border-round-2xl w-full h-full">
        </div>
        <div class="col-12 lg:col-4 h-22rem">
            <img src="assets/gallary-5.png" alt="gallary-5" class="border-round-2xl w-full h-full">
        </div>
    </div>
</section>