<section class="gallary flex flex-column justify-content-between align-content-center align-items-center">

    <div class="headers">
        <h5 class="pink-1">{{'Our Gallery'|uppercase}}</h5>
        <h4 class="relative">Let's Check Our Photo Gallery</h4>

    </div>

    <div class="grid justify-content-between">
        <div class="col-12 lg:col-4 h-22rem">
            <img src="assets/gallary-1.png" alt="gallary-1" class="w-full h-full">

        </div>
        <div class="col-12 lg:col-4 h-22rem">
            <img src="assets/gallary-2.png" alt="gallary-2" class="w-full h-full">

        </div>
        <div class="col-12 lg:col-4 h-22rem">
            <img src="assets/gallary-3.jpg" alt="gallary-3" class="w-full h-full">

        </div>
        <div class="col-12 lg:col-8 h-22rem">
            <img src="assets/gallary-4.png" alt="gallary-4" class="w-full h-full">
        </div>
        <div class="col-12 lg:col-4 h-22rem">
            <img src="assets/gallary-5.png" alt="gallary-5" class="w-full h-full">
        </div>
    </div>
</section>