.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

:host ::ng-deep .p-skeleton {
    background-color: rgba(248, 43, 169, 1);
}