<header class="flex justify-content-between align-items-center relative">

    <app-logo></app-logo>

    <!-- Navigation Links -->
    <nav class="" [ngClass]="{
            'hidden md:flex': !linksToggele,
            'flex flex-column align-items-start absolute top-0 left-0 bg-white md:align-items-center md:static md:flex-row md:bg-transparent': linksToggele
        }">
        <div class="logo-icon" [ngClass]="{
            'hidden' : !linksToggele,
            'flex justify-content-between align-items-center w-full md:hidden' : linksToggele
        }">
            <app-logo></app-logo>

            <button pButton (click)="toggleShow()" class="blue-1">
                <i class="pi pi-times blue-1"></i>
            </button>
        </div>
        <a class="cursor-pointer blue-1 hover:text-pink-500 transition-duration-200" *ngFor="let link of links">
            {{ link.label|titlecase}}
        </a>
    </nav>

    <!-- Icons + Menu Toggle -->
    <div class="icons flex align-items-center pink-1">
        <p-button icon="pi pi-search" class="text-lg"></p-button>
        <!-- Icons -->
        @for (icon of iconsItems; track $index) {
        <p-overlaybadge value="2" severity="danger" *ngIf="user.user()">
            <p-button [icon]="icon.icon" styleClass="p-button-text p-button-rounded"></p-button>
        </p-overlaybadge>
        }
        <p-menu #menu [model]="userOptions" [popup]="true" class="blue-1" />
        <p-button (click)="menu.toggle($event)" icon="pi pi-user" *ngIf="user.user()" styleClass="text-lg">
        </p-button>



        <!-- Mobile Menu Button -->
        <div class="menu flex align-items-center md:hidden cursor-pointer" (click)="toggleShow()">
            <i class="pi pi-align-right text-2xl"></i>
        </div>

        <app-basic-button [btnValue]="'log in'" (click)="clickedOnLogInBtn()" *ngIf="!user.user()"></app-basic-button>
    </div>
</header>