/* You can add global styles to this file, and also import other style files */
@import "typeface-roboto/index.css";
@import "@fontsource/inter/300.css";
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";

body {
    font-family: 'Roboto', sans-serif;
}

* {
    font-family: sans-serif;
    margin: 0;
}

.text-line {
    line-height: 30px;
}

.px-50 {
    padding-left: 50px;
    padding-right: 50px;
}



// colors

/* 🎨 Pink Shades */
$pink-shades: (
    1: #F82BA9,
    2: #F940B2,
    3: #F955BA,
    4: #FA6BC3,
    5: #FB80CB,
    6: #FB95D4,
    7: #FCAADD,
    8: #FDBFE5,
    9: #FED5EE,
    10: #FEEAF6
);

$blue-shades: (
    1: #160E4B,
    2: #2D265D,
    3: #453E6F,
    4: #5C5681,
    5: #757F95,
    6: #8A86A5,
    7: #A29FB7,
    8: #B9B7C9,
    9: #D0CFDB,
    10: #E8E7ED
);

$purple-shades: (
    1: #8C52FF,
    2: #9763FF,
    3: #A375FF,
    4: #AF86FF,
    5: #BA97FF,
    6: #C5A8FF,
    7: #D1BAFF,
    8: #DDCBFF,
    9: #E8DCFF,
    10: #F3EEFF
);

$green-shades: (
    1: #39D8A3,
    2: #4DDCAC,
    3: #61E0B5,
    4: #74E4BF,
    5: #88E8C8,
    6: #9CEBD1,
    7: #B0EFDA,
    8: #C4F3E3,
    9: #D7F7ED,
    10: #EBFBF6
);

.grey {
    color: #DEE2E6;
}

/* 🔁 Generate Classes */
@each $index, $color in $pink-shades {
    .pink-#{$index} {
        color: $color;
    }

    .bg-pink-#{$index} {
        background-color: $color !important;
    }
}

@each $index, $color in $blue-shades {
    .blue-#{$index} {
        color: $color;
    }

    .bg-blue-#{$index} {
        background-color: $color !important;
    }
}

@each $index, $color in $purple-shades {
    .purple-#{$index} {
        color: $color;
    }

    .bg-purple-#{$index} {
        background-color: $color !important;
    }
}

@each $index, $color in $green-shades {
    .green-#{$index} {
        color: $color;
    }

    .bg-green-#{$index} {
        background-color: $color !important;
    }
}

.carnation {
    color: #F05454;
}




// fonts

.text-80px {
    font-size: 80px;
}

.text-64px {
    font-size: 64px;
}

.text-51px {
    font-size: 51px;
}

.text-41px {
    font-size: 41px;
}

.text-33px {
    font-size: 33px;
}

.text-26px {
    font-size: 26px;
}

.text-21px {
    font-size: 21px;
}

.text-17px {
    font-size: 17px;
}

.text-13px {
    font-size: 13px;
}

.mx-80px {
    margin-left: 80px;
    margin-right: 80px;
}

.px-80px {
    padding-left: 80px;
    padding-right: 80px;
}

// font-family 
.font-inter {
    font-family: 'Inter', sans-serif;
}

.font-roboto {
    font-family: 'Roboto', sans-serif;

}

section {
    margin: 16px 80px;

    @media (max-width:480px) {
        & {
            margin-left: 16px;
            margin-right: 16px;
        }
    }

}